html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/beige-tiles.png)
}

.main_header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

header {
    width: 960px;
    height: 55px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.folio {
    margin-top:-48px;
}
h1 {
    width: 206px;
    padding: 14px;
    margin-left: -24px;
    color: #ffffff;
    background-color: #4aaaa5;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    margin-top: -7px;
    color: #4aaaa5;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav {
    position: relative;
    right:-25px; 
    top: -55px;
    text-align: right;
    font-size: 14px;

}

p {
    text-align: justify;
    padding-right: 20px;
    padding-top: 8px;
    padding-left: 20px;
}

a {
    color: #777777;
    padding-right: 12px;
    padding-left: 12px;
}

a:link {
    text-decoration: none;
}

a:visited {
    background-color: #b6c7c7;
}

a:hover {
    background-color: #b6c7c7;
}

#port {
    border-right: 1px solid #a4a2a2;
    border-left: 1px solid #a4a2a2;
}

#ind {
    margin-right: -4px;
}

#cont {
    margin-left: -4px;

}

.wrapper {
    padding-top: 31px;
    min-height: 90%;
    margin-bottom: -50px;
    background-image: url(../images/beige-tiles.png)
}

div.gall {
    margin: 20px;
    margin-top:50;
    float: left;
    width: 190px;
    height: 165px;
  }
  
   
  div.gall img {
    width: 190px;
    height: 165px;
  }
  
  div.desc {
    padding: 10px;
    width: 191px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 290px;
    background-color: #4aaaa5;
    box-sizing: border-box;
  }
  
    div.desc2 {
    padding: 10px;
    width: 191px;
    position: absolute;
    top: 493px;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    box-sizing: border-box;
  }

